# Порт для запуска сервера (по умолчанию 3000)
PORT=3000

# ID папки в Google Drive для загрузки файлов
# Получить ID можно из URL папки: https://drive.google.com/drive/folders/
FOLDER_ID=1pxoAA-f2ICSvFswM0l7ByATEu1uFrmMt

# Пример:
# FOLDER_ID=1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
